spring:
  datasource:
    url: jdbc:h2:mem:test-db;DB_CLOSE_DELAY=-1
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false

logging:
  level:
    root: INFO
    org.springframework: INFO
    #org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.example.pricing: DEBUG